.footer {
    background-color: $color-primary;

    &__logo--box {
        height: 100%;
        width: 100%;
        padding: 1.5rem 0;
        text-align: center;

        img {
            height: 10rem;
            width: 20rem;
        }
    }
}
