// ALL THAT IS RELATED TO FONTS
$font-hg: 5rem;
$font-bg: 4rem;
$font-md: 1.8rem;
$font-sm: 1.5rem;
$font-primary: "kepler";
$font-style: normal lighter $font-md "kepler";

$color-primary: #0e1a41;
$color-secondary: #333;
$color-white: #fff;

$mb-hg: 10rem;
$mb-bg: 8rem;
$mb-md: 6rem;
$mb-sm: 4rem;
$mb-smm: 2rem;

// EQUAL PADDING
$equal-padding: 0 0 8rem 0;
$section-padding: 0 3rem 3rem 3rem;
